*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    min-height: 1000px;
    /*float: left;*/
}
.one{
    width: 25%;
    height:100%;
    min-height: 1000px;
    background: url("image/mybackground/w1.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
.two{
    width: 25%;
    height: 100%;
    min-height: 1000px;
    background: url("image/mybackground/w2.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
.three{
    width: 25%;
    height: 100%;
    min-height: 1000px;
    background: url("image/mybackground/w5.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
.four{
    width: 25%;
    height: 100%;
    min-height: 1000px;
    background: url("image/mybackground/w4.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
a{
    text-decoration: none;
    font-size: 60px;
    font-family: Arial;
    position: absolute;
    top: 35%;
    left: 20%;
}
a:hover{
    text-decoration:underline;
}
.one a{
    color: white;
}
.two a{
    color:purple;
}
.three a{
    color: #edfb05;
}
.four a{
    color: hotpink;
}
