*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    /*min-height: 1000px;*/
    /*float: left;*/
}
.one{
    width: 25%;
    height:100%;
    /*min-height: 1000px;*/
    background: url("image/mybackground/w1.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
.two{
    width: 25%;
    height: 100%;
    /*min-height: 1000px;*/
    background: url("image/mybackground/w2.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
.three{
    width: 25%;
    height: 100%;
    /*min-height: 1000px;*/
    background: url("image/mybackground/w5.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
.four{
    width: 25%;
    height: 100%;
    /*min-height: 1000px;*/
    background: url("image/mybackground/w4.jpg") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: relative;
}
a{
    text-decoration: none;
    font-size: 60px;
    font-family: Arial;
    position: absolute;
    top: 80%;
    right: 10%;
}
a:hover{
    border: 1px solid

;
}
.one a{
    color: white;
}
.two a{
    color:greenyellow;
}
.three a{
    color: #edfb05;
}
.four a{
    color: hotpink;
}
